body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 45px;
}
.responsive-table li, .responsive-table-result li, .responsive-table-archive li {
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.responsive-table .table-header, .responsive-table-result .table-header, .responsive-table-archive .table-header {
  background-color: #838383;
  padding: 15px 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: white;
}
.responsive-table .table-row, .responsive-table-result .table-row-result, .responsive-table-archive .table-row-result{
  background-color: #c2c2c2;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  color: rgb(79, 79, 79);
}
.responsive-table .col-1, .responsive-table-result .col-1, .responsive-table-archive .col-2 {
  flex-basis: 25%;
}
.responsive-table .col-2, .responsive-table-result .col-2, .responsive-table-archive .col-2 {
    flex-basis: 15%;
}
.responsive-table .col-3, .responsive-table-result .col-3, .responsive-table-archive .col-2 {
  flex-basis: 15%;
}
.responsive-table .col-4, .responsive-table-result .col-4, .responsive-table-archive .col-2 {
  flex-basis: 15%;
}
.responsive-table .col-5, .responsive-table-result .col-5, .responsive-table-archive .col-2 {
  flex-basis: 15%;
}
.responsive-table .col-6, .responsive-table-result .col-6, .responsive-table-archive .col-2 {
  flex-basis: 15%;
  text-align: right;
}
.button {
  margin-left: 85%;
  background-color: #808080;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-flexbox;
  font-size: 16px;
  border-radius: 10px;
}
input[type=text], select {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
}
input[type=submit] {
  background-color: #6f6f6f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #6f746f;
}
form label {
  color: black;
}
@media (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
